# I. Sample End-to-End Analysis
## A. Challenge
I want to look at loan (application process) info to predict who will default. Before I bias myself looking at the data that's available, I'm going to list out things I'd want to see where possible:
### 1. Info about the Borrower
- FICO score at time of application
- Employment status
- Household AGI (adjusted gross income) on last year's tax return
- Net worth
- Number of bankruptcies in last 20 years (though I don't know if records go beyond 10 years)
- Current or past home ownership
- Marital status
- Highest attained education level
- Age
- Race

### 2. Info about the Loan, Maybe with Borrower Info Baked In
- Loan size
- Interest rate
- Debt-to-income ratio
- Required payment-to-income ratio


## B. Finding the Data
### 1. Concerns About Data Sets:
- Too simplistic, not enough "features"
- Low sample size (under 10,000)
- Imbalanced results, which plays into the above
- Lots of features, but too many null values which would render many useless

### 2. Where To Look:
#### A. Kaggle - The LeetCode of ML/Data Science:
I heard about this site because it has competitions, a leaderboard, and curated data sets. What I didn't know was that there's an unmoderated GitHub-like free-for-all where where anyone can post a data set without a README explaining what the data is, or what outcomes were being measured, and there's nothing stopping users from contributing poorly worded or even erroneous interpretations of the data set! That was a real letdown.

#### B. Hugging Face:
This appears to be GitHub-like web site for data sets, where I can search by row count, topic, data format etc. My shoot-from-the-hip criticisms are:
- Unlike Kaggle, some of these appear aimless in nature. For example I can find data on social media posts (in English), translated to their Arabic equivalent. No upvote counts or any worthwhile "target" dimension offered.
- Lack of good documentation
- Crtyptic titles so site visitors are missing half the story until they click a link

#### C. Individual Schools/Research Facilities (What We Use This time):
In the interest of expediency, I grabbed the first one that fit from **UC Irvine**:
https://archive.ics.uci.edu/dataset/350/default+of+credit+card+clients

These are 30,000 credit card holders from a bank in Taiwan. The first 24 columsn tell us inputs like age and the final "target" column tells us whether the card is in default now (Sept of 2005). 


# II. Generalized Order of Operations
This will be my 2nd rodeo since I got exposed to this process in the classic ##Housing Price Prediction## challenge in Chapter 2.

### A. Sense Check Around the Data ("Data Exploration")
### B. Data Preparation
#### 1. Cleaning: missing values, duplicates, potentially handling outliers
#### 2. Transformation: scaling, normalization, 1-hot encoding
#### 3. Splitting
### C. Initial Run
#### 1. Cross Fold Validation: With strong preference for stratification
#### 2. Evaluation of Initial Run
#### 3. Narrowing Feature Selection
### D. Final Run and Evaluation


# III. Start of End-to-End Analysis

## A. Data Exploration

We have 30,000 rows of data and 25 columns. Good start!

In [13]:
import pandas as pd
imported_credit_card_info = pd.read_csv("uc_irvine_credit_card_data.csv", header=1) #30,0001 rows, but first one is the header labels!
print(imported_credit_card_info.shape)

(30000, 25)

UCI documentation shows that this was for Sept of 2005, so "pay_3" column means "3 months ago in July 2005".

### A. Payment Code Explanation
-2 = No consumption

-1 = Paid in full

0 = Paid the minimum due

1 = Payment 1 month late

2 = Payment 2 months late

### B. Bill Amount Explanation
BILL_AMT4 = "Four months ago, what was the outstanding balance on the credit card?"

In [14]:
imported_credit_card_info.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

### C. Gut-Check On Null Values
Not a single empty cell across 30K rows and 25 columns. Okay, so we can skip null-handling this exercise.

In [15]:
imported_credit_card_info.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

### D. Gut-Check On Ranges, Medians, Standard Deviation
The first thing that stuck out to me was that there the lowest values of Bill Amounts were always negative, which didn't make sense. I guess that means the financial institution owed the cardholder money due to refunds or early/excessive payments? That checks out given the positive values in the first quartile, suggesting negative values are the exception and not the rule. We should NOT remove them from the data set.

In [16]:
imported_credit_card_info.describe().T # .T is used for Transpose

,count,mean,std,min,25%,50%,75%,max
ID,30000.0,15000.500000,8660.398374,1.0,7500.75,15000.5,22500.25,30000.0
LIMIT_BAL,30000.0,167484.322667,129747.661567,10000.0,50000.00,140000.0,240000.00,1000000.0
SEX,30000.0,1.603733,0.489129,1.0,1.00,2.0,2.00,2.0
EDUCATION,30000.0,1.853133,0.790349,0.0,1.00,2.0,2.00,6.0
MARRIAGE,30000.0,1.551867,0.521970,0.0,1.00,2.0,2.00,3.0
AGE,30000.0,35.485500,9.217904,21.0,28.00,34.0,41.00,79.0
PAY_0,30000.0,-0.016700,1.123802,-2.0,-1.00,0.0,0.00,8.0
PAY_2,30000.0,-0.133767,1.197186,-2.0,-1.00,0.0,0.00,8.0
PAY_3,30000.0,-0.166200,1.196868,-2.0,-1.00,0.0,0.00,8.0
PAY_4,30000.0,-0.220667,1.169139,-2.0,-1.00,0.0,0.00,8.0
PAY_5,30000.0,-0.266200,1.133187,-2.0,-1.00,0.0,0.00,8.0
PAY_6,30000.0,-0.291100,1.149988,-2.0,-1.00,0.0,0.00,8.0
BILL_AMT1,30000.0,51223.330900,73635.860576,-165580.0,3558.75,22381.5,67091.00,964511.0
BILL_AMT2,30000.0,49179.075167,71173.768783,-69777.0,2984.75,21200.0,64006.25,983931.0
BILL_AMT3,30000.0,47013.154800,69349.387427,-157264.0,2666.25,20088.5,60164.75,1664089.0
BILL_AMT4,30000.0,43262.948967,64332.856134,-170000.0,2326.75,19052.0,54506.00,891586.0
BILL_AMT5,30000.0,40311.400967,60797.155770,-81334.0,1763.00,18104.5,50190.50,927171.0
BILL_AMT6,30000.0,38871.760400,59554.107537,-339603.0,1256.00,17071.0,49198.25,961664.0
PAY_AMT1,30000.0,5663.580500,16563.280354,0.0,1000.00,2100.0,5006.00,873552.0
PAY_AMT2,30000.0,5921.163500,23040.870402,0.0,833.00,2009.0,5000.00,1684259.0
PAY_AMT3,30000.0,5225.681500,17606.961470,0.0,390.00,1800.0,4505.00,896040.0
PAY_AMT4,30000.0,4826.076867,15666.159744,0.0,296.00,1500.0,4013.25,621000.0
PAY_AMT5,30000.0,4799.387633,15278.305679,0.0,252.50,1500.0,4031.50,426529.0
PAY_AMT6,30000.0,5215.502567,17777.465775,0.0,117.75,1500.0,4000.00,528666.0
default payment next month,30000.0,0.221200,0.415062,0.0,0.00,0.0,0.00,1.0

### E. Removing Duplicates?
No duplicates found (as the UCI documentation claimed)

In [20]:
duplicate_id_rows = imported_credit_card_info[imported_credit_card_info["ID"].duplicated(keep=False)]
duplicate_id_rows.sort_values(by="ID")

Empty DataFrame
Columns: [ID, LIMIT_BAL, SEX, EDUCATION, MARRIAGE, AGE, PAY_0, PAY_2, PAY_3, PAY_4, PAY_5, PAY_6, BILL_AMT1, BILL_AMT2, BILL_AMT3, BILL_AMT4, BILL_AMT5, BILL_AMT6, PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6, default payment next month]
Index: []

[0 rows x 25 columns]

### F. Scaling and Normalization
Skipping

### G. Feature Engineering + 1 Hot Encoding
I really considered putting in some features like:
- If someone has a negative balance, maybe that means they are a true "Boy Scout" customer who won't default and clearly has economic means...or maybe it means they are tight on cash and calling in to demand chargebacks, thus creating a negative balance!
- If someone's bill payments matched or exceeded oustanding balances, would that necessarily make them a good customer? It's hard to say given that credit cards have different timings on when the month closes out, and we don't know if someone is paying big in one month is actually underpaying an older bill. Better to just leave this alone.

### I. Splitting
Let's randomize the order of all 30K data points, then take
- 80% (24,000) for training
- 20% (6,000) for testing later

But to do that, I will first separate features (x values) from labels (y values)

In [22]:
imported_credit_card_info = imported_credit_card_info.sample(frac=1, random_state=42).reset_index(drop=True)
imported_credit_card_info.head() #confirming order is now randomized

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,906,30000,2,2,2,27,-1,-1,2,0,...,21449,29709,29086,3136,0,0,29709,0,1576,0
1,13391,60000,1,2,2,25,2,2,2,0,...,13695,17598,17472,2017,5,1000,5000,1000,603,1
2,10771,50000,2,3,2,22,2,0,0,2,...,19576,15794,19496,3000,2000,0,4532,4500,4500,0
3,13423,230000,2,1,1,43,-1,-1,-1,-1,...,1332,5342,3162,1867,5816,1340,5342,4,0,1
4,27021,280000,1,1,2,32,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1

In [31]:
from sklearn.model_selection import train_test_split

target_column = 'default payment next month'

# features, and yes a I know a lot of people use a capital X but it's giving me an OCD attack being inconsitent with a lowercase y
x = imported_credit_card_info.drop(columns=[target_column])

y = imported_credit_card_info[target_column] # target values, whether it was in default or not

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=43)

### J. Post-Split

In [41]:
y_test.describe()

count    6000.000000
mean        0.218167
std         0.413036
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: default payment next month, dtype: float64